* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
text-align: center;
font-weight: bold;
}

.container {
margin-top: 40px;
margin-bottom: 2rem;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}

.bloco {
display: inline-block;
width: 35%;
height: 170px;
padding: 0.5rem;
border-radius: 5%;
}

.bloco p {
text-align: center;
}

.bloco a {
display: block;
text-align: center;
margin-top: 20px;
}
