body {
    width: 70%;
    margin: 2rem auto;
    padding: 2rem;

}

form {
    width: 100%;
    border: 1px solid gray;
    padding: 2rem;
}

input, textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.25rem;
    font-size: 1.5rem;
}

textarea {
    height: 10rem;
}

button {
    padding: 1rem 2rem;
    border-radius: 5px;
}
.centro {
    text-align: center;
}